/* Include padding and border in total box size*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* parent for both columns */
.columns {
	display: flex;
	/* this is how you make those items to display in a row */
}

/* Create two equal columns that float next to each other */
.column-1,
.column-2 {
	width: 45%;
	min-height: 450px;
	padding: 40px;
	padding-left: 70px;
	padding-right: 70px;
	margin: 30px;
	margin-bottom: 70px;
	background-color: #ccc;
	line-height: 2;
	font-size: 1.5em;
}

/* Large profile image */
.large-profile {
	background: url(/Mypage/images/Jonah.jpg);
	background-size: cover;
	background-position: center;
}

/* Style the top navigation bar */
.navbar {
	overflow: hidden;
	display: flex; /* Hide overflow */
	background-color: #00bfff; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
	/* Change the display to block, for responsive reasons (see below) */
	color: white; /* White text color */
	text-align: center; /* Center the text */
	padding: 14px 20px; /* Add some padding */
	text-decoration: none; /* Remove underline */
}

/* here we change flex to direction column to stack items */

@media (max-width: 768px) {
	.columns {
		flex-direction: column;
	}
	.column-1,
	.column-2 {
		width: 90%;
	}
	.column-2 {
		aspect-ratio: 1/1;
	}
}