* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-item {
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-items: center;
  }

.intro {
    text-align: center;
    position: relative;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

button {
    background:black;
    padding: 7px 16px;
    color: white;
    margin: 32px 0px 0px;
    border-radius: 5%;
}

button a {
    text-decoration: none;
    color: white;
}

.bkrn-img {
    background-image: url(banner-bucks.jpg);
    height: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    padding: 32px 16;
    color: white;
    width: 100%;
    font-weight: bold;
    flex: center;
    justify-content: center;
}

.bkrn-text {
    padding: 32px 16px;
    height: 90%;
}

.contimer {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 0px 10px 10px 0px;
    min-height: 10vh;
    max-height: 25vh;
}

._2x1 {
    width: 50%;
}
.container {
    display: flex;
}

.box {
    font-size: 25px;
    height: 100vh;
    flex-direction: column;
}
.box1 {
    background: yellow;
}
.box2 {
    background: darkblue;
}
.box3 {
    background: purple;
}
.box4 {
    background: green;
}
.box5 {
    background: brown;
}
.box6 {
    background: lightblue;
}
.box7 {
    background: cyan;
}

@media screen and (max-width: 600px) {
    .navbar navbar-default {
      float: none;
      width: 100%;
    }
    .contimer {
        display: flex;
        flex-direction: column;
    }
  }