body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:darkgreen;
}

header{
    font-family: "Arial Narrow";
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    text-decoration: underline;
}

.container {
    display: flex;
}

.box {
    flex: 1;
}

.box1 {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: white;
    border: 3px solid white;
    min-width: 200px;
    max-width: 250px;
}

.box2 {
    font-size: 1.5em;
    color: white;
    text-align: center;
    color: white;
    font-size: 2em;
    text-transform: capitalize;
}
button {
    font-size: 30px;
}
#hot:hover:not(:disabled) {
    background-color: red;
    color: white;
}
#cold:hover:not(:disabled) {
    background-color: cyan;
    color: white;
}
#tea:hover:not(:disabled) {
    background-color: brown;
}
#refresher:hover:not(:disabled) {
    background-color: yellow;
}
#resett:hover:not(:disabled) {
    background-color: steelblue;
}
#syrup:hover:not(:disabled) {
    background-color: goldenrod;
}
#save:hover:not(:disabled) {
    background-color: dimgray;
}

footer {
    color: white;
    font-size: 1.5em;
}

/* h3 {
    font-size: 1.5em;
    color: white;
    text-shadow: 3px 6px black;
    text-decoration: underline yellow;
}

p {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: white;
    border: 3px solid white;
    min-width: 200px;
    max-width: 250px;
}

button {
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 7px;
}

h5 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-transform: capitalize;
} */