body {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1568828668638-b1b4014d91a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bnVtYmVyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   font-size: 3rem;
}

h1 {
    border: solid 2px black;
    background: goldenrod;
    color: white;
    font-weight: bold;
}

button {
    background: goldenrod;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: left;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}

#message-el,
#number-el {
    border: solid black 3px;
    background: goldenrod;
}